# IDEs y Sistema
.vscode/
.idea/
.DS_Store
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Logs
*.log
backend/app/*.log

# Docker
docker-compose.yml
db_data/

